<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

  <title>Login Page</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/3.3.3/adapter.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
  <script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
  <script type="text/javascript" src="../src/instascan.min.js"></script>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="assets/css/fontawesome.css">
  <link rel="stylesheet" href="assets/css/templatemo-seo-dream.css">
  <link rel="stylesheet" href="assets/css/animated.css">
  <link rel="stylesheet" href="assets/css/owl.css">
</head>

<body>
  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <h4>Cuporrow <img src="assets/images/logo-icon.png" alt="" width=25px height=19px></h4>
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="rent_page.html#about">Rent!</a></li>
              <li class="scroll-to-section"><a href="History.html">History</a></li>
              <li class="scroll-to-section"><a href="ProfilePage.html">Profile</a></li>
              <li class="scroll-to-section"><a href="index.html#contact" class="active">Contact us</a></li>
              <li class="scroll-to-section"><div class="main-blue-button"><a>Welcome! 'Username'</a></div></li>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>

  <div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                  <h6></h6>
                  <h2>
                    Rent Now
                  </h2>
                  <!-- <section class="cameras">
                    <h2>Cameras</h2>
                    <ul>
                      <li v-if="cameras.length === 0" class="empty">No cameras found</li>
                      <li v-for="camera in cameras">
                        <span v-if="camera.id == activeCameraId" :title="formatName(camera.name)" class="active">{{ formatName(camera.name) }}</span>
                        <span v-if="camera.id != activeCameraId" :title="formatName(camera.name)">
                          <a @click.stop="selectCamera(camera)">{{ formatName(camera.name) }}</a>
                        </span>
                      </li>
                    </ul>
                  </section> -->
                  <div>
                    <div class="row">
                      <div class="preview-container">
                                           <video id="preview" autoplay="true"></video>
                    <button id="scan-button">Scan QR code</button>
                    <script type="text/javascript">
                      var video = document.querySelector("#preview");
                      if (navigator.mediaDevices.getUserMedia) {
                        navigator.mediaDevices.getUserMedia({ video: true })
                          .then(function (stream) {
                            video.srcObject = stream;
                          })
                          .catch(function (err0r) {
                            console.log("Something went wrong!");
                          });
                      }
                      let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
                      scanner.addListener('scan', function (content) {
                        console.log("detect!");
                        console.log(content);
                      });
                      Instascan.Camera.getCameras().then(function (cameras) {
                        if (cameras.length > 0) {
                          scanner.start(cameras[0]);
                        } else {
                          console.error('No cameras found.');
                        }
                      }).catch(function (e) {
                        console.error(e);
                      });
                    </script>
                      </div>

                      <div>
                        <fieldset>
                          <br>
                          <a href="mainpage.html" target="_blank">Back to main page</a>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>




